* { 
    /* Essa parte faz todos os elementos terem isso como base */
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
}
.imagens img {
    max-width: 10vw;
}
.title {
    grid-column-start: 1;
    grid-column-end: 3;
}